@import "~sass-rem";

.resume {
  text-align: center;

  &__container {
    width: rem(250px);
    height: rem(250px);
    background: grey;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
  }

  &__money {
    font-size: rem(40px);
    margin-bottom: rem(10px);
  }

  &__month {
    font-size: rem(22px);
  }
}
